{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        html, body {
            font-family: "Noto Sans", "Trebuchet MS", "Arial";
        }
        .body {
            margin: auto;
            margin-top: 50px;
            width: 320px;
            height: 568px;
            border: 1px solid black;
        }

        .egg {
            position: relative;
            width: 60px;
            height: 80px;
            background: #FCE94D;
            border: 5px solid #000;
            top: 220px;
            left: 130px;
            -webkit-border-radius: 50%/60% 60% 40% 40%;
            -moz-border-radius: 50%/60% 60% 40% 40%;
            border-radius: 50%/60% 60% 40% 40%;
        }

        .bird {
            position: relative;
            background:url(/images/bird.png);
            top: 220px;
            left: 110px;
            height: 101px;
            width: 101px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('#food, #bath').tooltip();

            $('#pet').mouseover(function() {
                $('#pet').popover('show').addClass('shake shake-slow');
            }).mouseout(function() {
                $('#pet').popover('hide').removeClass('shake shake-slow shake-hard');
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="body">
        <div class="row">
            <div class="col-md-12">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">Growl! :(</div>
            <div class="col-md-5 text-right">Burp :)</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ pet.full / status.max_full * 100 }}%">
                        <span class="sr-only">Full</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">Eeew! :(</div>
            <div class="col-md-5 text-right">Smooth :)</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ pet.clean / status.max_clean * 100 }}%">
                        <span class="sr-only">Full</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a id="food" href="{{ path("feed") }}" data-toggle="tooltip" data-placement="top" title="Click to feed me!">
                    <span class="glyphicon glyphicon-cutlery"></span>
                    <span class="badge">{{ pet.food }}</span>
                </a>
            </div>
            <div class="col-md-9">
                <a id="bath" href="{{ path("bathe") }}" data-toggle="tooltip" data-placement="top" title="Click to bathe me!">
                    <span class="glyphicon glyphicon-tint"></span>
                </a>
            </div>
        </div>

        <div id="pet" class="{{ pet.name|lower }}" data-container="body" data-toggle="popover" data-placement="top" data-title="{{ pet.name }}" data-content="{{ status.message }}"></div>
    </div>
{% endblock %}
