{% extends 'index.twig' %}

{% block main %}
    <div class="body">
        <div class="row">
            <div class="col-md-12">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">Growl! :(</div>
            <div class="col-md-5 text-right">Burp :)</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ pet.full / status.max_full * 100 }}%">
                        <span class="sr-only">Full</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">Eeew! :(</div>
            <div class="col-md-5 text-right">Smooth :)</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ pet.clean / status.max_clean * 100 }}%">
                        <span class="sr-only">Full</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a id="food" href="{{ path("feed") }}" data-toggle="tooltip" data-placement="top" title="Click to feed me!">
                    <span class="glyphicon glyphicon-cutlery"></span>
                    <span class="badge">{{ pet.food }}</span>
                </a>
            </div>
            <div class="col-md-9">
                <a id="bath" href="{{ path("bathe") }}" data-toggle="tooltip" data-placement="top" title="Click to bathe me!">
                    <span class="glyphicon glyphicon-tint"></span>
                </a>
            </div>
        </div>

        <div id="pet" class="{{ pet.name|lower }}" data-container="body" data-toggle="popover" data-placement="top" data-title="{{ pet.name }}" data-content="{{ status.message }}"></div>
    </div>
{% endblock %}
